$small-size=14px
$middle-size=16px
$large-size=20px
$blue=#2d96c4;
$colorBlue=#409EFF
$black=black
$bgGray=#bdbebe
$gray=#d4d4d4
$white=#e4e4e4
$colorWhite=#ffffff
$bgblue = #24586f
$black3=#333333
$bgNav=#cdd0d3
$tableHead=#3a3a3a;
$haver=#e3e3e3
$bottomNav=#9d9e9f
$bottomKuangBorder=#b9b9b9
